@model IMS_with_Repository_Pattern_DbFirst.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>product Id </td>

                    <td> <input type="text" name="productName" value="@Model.ProductId" readonly></td>
                </tr>
                <tr>
                    <td>product name </td>

                    <td> <input type="text" name="productName" value="@Model.ProductName" readonly></td>
                </tr>
                <tr>
                    <td> product price </td>

                    <td><input type="text" name="productPrice" value="@Model.Price" readonly> </td>
                </tr>
                <tr>
                    <td> catagory Id </td>

                    <td><input type="text" name="catagoryId" value="@Model.CatagoryId" readonly> </td>
                </tr>
            </table>
            <input type="submit" name="" value="Delete">
        </form>

    </div>
    @Html.ActionLink("Back to List", "Index")
</body>
</html>
